In [1]:
import pandas as pd

In [89]:
df1 = pd.read_csv('C:/Users/alexl/Dropbox/Alex/aleexv6Corporation/Trading/Data/Meteo/data_one/auvergne_ra_2000_2011_1.csv',low_memory=False)
df2 = pd.read_csv('C:/Users/alexl/Dropbox/Alex/aleexv6Corporation/Trading/Data/Meteo/data_one/auvergne_ra_2000_2011_2.csv', low_memory=False)
df3 = pd.read_csv('C:/Users/alexl/Dropbox/Alex/aleexv6Corporation/Trading/Data/Meteo/data_one/auvergne_ra_2012_2023_1.csv', low_memory=False)
df4 = pd.read_csv('C:/Users/alexl/Dropbox/Alex/aleexv6Corporation/Trading/Data/Meteo/data_one/auvergne_ra_2012_2023_2.csv', low_memory=False)
df1.drop('Unnamed: 0', axis=1, inplace=True)
df2.drop('Unnamed: 0', axis=1, inplace=True)
df3.drop('Unnamed: 0', axis=1, inplace=True)
df4.drop('Unnamed: 0', axis=1, inplace=True)

In [87]:
dfTot = pd.concat([df1, df2, df3, df4]).reset_index(drop=True)
dfTot

,POSTE,DATE,RR,DRR,TN,HTN,TX,HTX,TM,TMNX,...,ECLAIR,ETPMON,ETPGRILLE,UV,TMERMAX,TMERMIN,HNEIGEF,NEIGETOTX,NEIGETOT06,DEPARTEMENT
0,42005001,20000101,"1,4",NaN,"3,7",437.0,"6,7",1402.0,"5,2","5,2",...,0.0,"0,2",NaN,NaN,NaN,NaN,0.0,0.0,0.0,42
1,42005001,20000102,0,NaN,"5,2",1753.0,"7,4",1250.0,"5,7","6,3",...,0.0,"0,4",NaN,NaN,NaN,NaN,0.0,0.0,0.0,42
2,42005001,20000103,0,NaN,0,1758.0,"7,3",1209.0,"2,1","3,65",...,0.0,"0,6",NaN,NaN,NaN,NaN,0.0,0.0,0.0,42
3,42005001,20000104,0,NaN,"-4,8",745.0,"7,4",50.0,"0,5","1,3",...,0.0,"0,2",NaN,NaN,NaN,NaN,0.0,0.0,0.0,42
4,42005001,20000105,0,NaN,"2,3",1851.0,"11,5",1421.0,"5,9","6,9",...,0.0,"0,8",NaN,NaN,NaN,NaN,0.0,0.0,0.0,42
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
917123,74289001,20111227,"0,0",NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,74
917124,74289001,20111228,"0,5",NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,74
917125,74289001,20111229,"5,7",NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,74
917126,74289001,20111230,"13,8",NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,74
917127,74289001,20111231,"7,4",NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,74

In [88]:
dfTot.to_csv('C:/Users/alexl/Dropbox/Alex/aleexv6Corporation/Trading/Data/Meteo/Final/auvergne_ra_total.csv')